.programme {
    position: relative;
    top: 104px;
    display: inline-block;
    margin: -4px 0 0 0;
    height: 540px;
    background: #DFDFDF;
    color: black;
    font-family: 'Anonymous Pro', monospace;
}

.programme:nth-of-type(even) {
    background: #CACACA;
}