@media screen and (max-width: 1200px) {
    .news {
        position: absolute;
        top: 100px;
        right: 0;
        width: calc(100% - 361px);
    }
}

@media screen and (max-width: 620px) {
    .news {
        width: 100%;
        top: 640px;
    }

    .news .curl {
        -webkit-transform: rotateZ(90deg) translateX(-50%);
        -ms-transform: rotateZ(90deg) translateX(-50%);
        transform: rotateZ(90deg) translateX(-50%);
        left: calc(50% - 20px);
        top: -142px;
    }
}