.news .dots {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 100%;
}

.news .dots .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px 0 7px;
    background: black;
    opacity: 0.25;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.news .dots .dot.active {
    opacity: 0.45;
}